[user]
	email = fynn091209@proton.me
	name = fynn
	name = Fynn
[color]
    ui = auto

# clearly makes git better

[column]
        ui = auto
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[init]
        defaultBranch = main
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[push]
        default = simple
        autoSetupRemote = true
        followTags = true
[fetch]
        prune = true
        pruneTags = true
        all = true

# why the hell not?

[help]
        autocorrect = prompt
[commit]
        verbose = true
[rerere]
        enabled = true
        autoupdate = true
[core]
        excludesfile = ~/.gitignore
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true

# a matter of taste (uncomment if you dare)

[core]
        # fsmonitor = true
        # untrackedCache = true
[merge]
        # (just 'diff3' if git version < 2.3)
        conflictstyle = zdiff3 
[pull]
        rebase = true

[alias]
        out = "log @{u}.."
        lg = "log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30 --graph"
        l1 = "lg -1"
        l5 = "lg -5"
        s = "status"
        # Open repo in browser  
        browse = "!f() { xdg-open $(git remote get-url origin | sed -E 's#^(git@|git://)#http://#' | sed -E 's#com:#com/#'); }; f"
